In [45]:
import pandas as pd

In [46]:
df=pd.read_csv('서울시 우리마을가게 상권분석서비스(상권-추정매출).csv', encoding='cp949')

In [50]:
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import matplotlib
font_location='c:/Windows/fonts/malgun.ttf'
font_name=font_manager.FontProperties(fname=font_location).get_name()
matplotlib.rc('font',family=font_name)

In [51]:
df1=df[(df['상권_코드_명']=='명동(명동거리)')]

In [52]:
df2=df1[(df1['기준_분기_코드']==2)][['서비스_업종_코드_명','점포수','분기당_매출_금액','분기당_매출_건수','주중_매출_비율']]
df3=df2[['서비스_업종_코드_명','점포수']]
df4=df3.sort_values('점포수', ascending=False).head(10)
df4

      서비스_업종_코드_명  점포수
84277       한식음식점  346
84253        일반의류  214
84245         화장품  161
84268       커피-음료  133
84262         미용실  104
84267        일반의원   98
84270       분식전문점   87
84250          안경   66
84274       양식음식점   54
84248         의약품   54